<body>
    <header>
        <div class="menu">
            <div class="contenedor">
                <p class="logo"> CRUD C/S </p>
                <nav>
                    <ul>
                        <li><a routerLink="/"> Inicio </a></li>
                        <li><a routerLink="/alumno-datos"> Alumno </a></li>
                        <li><a routerLink="/profesor-datos"> Profesor  </a></li>
                        <li><a routerLink="/asignatura-datos"> Asignatura </a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <main>
        <section id="tabla-profesor">
            <div class="contenedor" id="contenedor-formulario-flex">
                <h3>Datos Profesores</h3>
                <div class="tabla">
                    <table class="tablitaA">
                        <tr>
                            <th> ID </th>
                            <th> Nombre </th>
                            <th> Apellido Paterno </th>
                            <th> Edad </th>
                            <th> Direccion </th>
                            <th> Correo Electronico </th>
                            <th> Genero </th>
                            <th> Opciones </th>
                        </tr>
                        <tr>
                            <td>  </td>
                            <td>  </td>
                            <td>  </td>
                            <td>  </td>
                            <td>  </td>
                            <td>  </td>
                            <td>  </td>
                            <td> 
                                <button class="edit"></button>
                                <button class="delete"></button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </section>
    </main>
</body>