body {
    margin: 0;
    background: linear-gradient(rgba(72, 5, 85, 0.9),rgba(231, 93, 75, 0.9)), url(../../../assets/images/fondo.jpg);
    height: 100vh;
    background-size: cover;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header .contenedor {
    display: flex;
    justify-content: space-between;
}

header ul {
    display: flex;
}

header ul li {
    list-style: none;
    margin-right: 15px;
}

a {
    text-decoration: none;
}

.contenedor {
    max-width: 1280px;
    width: 90%;
    margin: auto;
}

p.logo {
    color: #fff;
    font-size: 20px;
}

nav ul li a {
    color: white;
    font-size: 20px;
}

/*                       FORMULARIO                              */
#contenedor-formulario-flex {
    justify-content: center;
    max-width: 1580px;
    width: 100%;
}


h3 {
    text-align: center;
    font-size: 50px;
    font-weight: normal;
    color: white;
    margin: 1%;
}

#formulario-alumno form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
}

input[type="text"], input[type="email"]{
    width: 55%;
    margin-bottom: 15px;
    padding: 7px 0;
    border: 0;
    border-bottom: 1px solid #000000;
    font-size: 17px;
    outline: none;
    background: none;
}

input::placeholder {
    color: rgba(239, 240, 243, 0.9);
}

#formulario-alumno form button {
    padding: 13px;
    width: 50%;
    display: flex;
    outline: none;
    background: rgb(202, 13, 13);
    border: none;
    color:white; 
    text-align: center;
    justify-content: space-around;
    font-size: 17px;
    border-radius: 6px;
}
#formulario-alumno form button:hover {
    background: rgb(204, 42, 42);
}