body {
    margin: 0;
    background: linear-gradient(rgba(104, 131, 204, 0.9),rgba(119, 114, 194, 0.9)), url(../../../assets/images/fondo.jpg);
    height: 100vh;
    background-size: cover;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header .contenedor {
    display: flex;
    justify-content: space-between;
}

header ul {
    display: flex;
}

header ul li {
    list-style: none;
    margin-right: 15px;
}

a {
    text-decoration: none;
}

.contenedor {
    max-width: 1280px;
    width: 90%;
    margin: auto;
}

p.logo {
    color: #fff;
    font-size: 20px;
}

nav ul li a {
    color: #fff;
    font-size: 20px;
}

/*                       AÑADIR A FORMULARIOS                              */
#contenedor-formulario-flex {
    justify-content: center;
    max-width: 1580px;
    width: 100%;
}

.contenedor-formularios {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

h3 {
    text-align: center;
    font-size: 50px;
    font-weight: normal;
    color: white;
    margin: 5%;
}

.formularioColor {
    width: 26%;
    padding: 34px 30px 38px 30px;
    border-radius: 10px;
    position: relative;
    text-align: center;
}

.contenedor-formularios .red {
    background-image: linear-gradient(to top, #61eee7, #3732be);
    box-shadow: 0 12px 30px 0 rgba(37, 40, 112, 0.37);
}

.formularioColor h4 {
    font-size: 30px;
    margin: 0;
    color: rgb(88, 9, 25);
    text-align: center;
}

.imagen {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

button {
    outline: none;
    background: rgb(55, 20, 136);
    border: none;
    padding: 10px 25px;
    color: white;
    text-align: center;
    margin-top: 10%;
    border-radius: 6px;
}

button:hover {
    background: rgb(45, 16, 112);
}