<body>
    <header>
        <div class="menu">
            <div class="contenedor">
                <p class="logo"> CRUD C/S </p>
                <nav>
                    <ul>
                        <li><a routerLink="/"> Inicio </a></li>
                        <li><a routerLink="/alumno-datos"> Alumno </a></li>
                        <li><a routerLink="/profesor-datos"> Profesor  </a></li>
                        <li><a routerLink="/asignatura-datos"> Asignatura </a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <main>
        <section id="formularios">
            <div class="contenedor"  id="contenedor-formulario-flex">
                <h3>Escoja su opción</h3>
                <div class="contenedor-formularios">
                    <div class="formularioColor red">
                        <img class="imagen" src="../../../assets/images/alumno.png">
                        <h4>Alumno</h4>
                        <button routerLink="/alumno">Añadir</button>
                    </div>
                    <div class="formularioColor red">
                        <img class="imagen" src="../../../assets/images/profesor.png">
                        <h4>Profesor</h4>
                        <button routerLink="/profesor">Añadir</button>
                    </div>
                    <div class="formularioColor red">
                        <img class="imagen" src="../../../assets/images/asignaturas.png">
                        <h4>Asignatura</h4>
                        <button routerLink="/asignatura">Añadir</button>
                    </div>
                </div>
            </div>
        </section>
    </main>
    
</body>