body {
    margin: 0;
    background: linear-gradient(rgba(6, 48, 46, 0.9),rgba(238, 215, 87, 0.911)), url(../../../assets/images/fondo.jpg);
    height: 100vh;
    background-size: cover;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header .contenedor {
    display: flex;
    justify-content: space-between;
}

header ul {
    display: flex;
}

header ul li {
    list-style: none;
    margin-right: 15px;
}

a {
    text-decoration: none;
}

.contenedor {
    max-width: 1280px;
    width: 90%;
    margin: auto;
}

p.logo {
    color: #fff;
    font-size: 20px;
}

nav ul li a {
    color: white;
    font-size: 20px;
}

/*                       TABLA                              */

#contenedor-formulario-flex {
    justify-content: center;
    max-width: 1580px;
    width: 100%;
}

h3 {
    text-align: center;
    font-size: 50px;
    font-weight: normal;
    color: white;
    margin: 1%;
}

.tablitaA {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
    border: 2px solid black;
    color: white;
    text-align: center;
    border-collapse: collapse;
    overflow-y: auto;
}

.tablitaA tr td  {
    border: 1px solid black;
    padding: 4px;
}

.tablitaA tr:hover {
    background: rgba(158, 157, 157, 0.336);
}

.tablitaA th {
    padding: 8px;
    background: rgb(28, 121, 105);
}

.edit {
    background-image: url(../../../assets/images/edit.png);
    background-position: center;
    height: 24px;
    width: 24px; 
}

.delete {
    background-image: url(../../../assets/images/delete.png);
    background-position: center;
    height: 24px;
    width: 24px;    
}

button {
    background: none;
    outline: none;
    border: none;
}

.tabla {
    width: 90%;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}