<body>
    <header>
        <div class="menu">
            <div class="contenedor">
                <p class="logo"> CRUD C/S </p>
                <nav>
                    <ul>
                        <li><a routerLink="/"> Inicio </a></li>
                        <li><a routerLink="/alumno-datos"> Alumno </a></li>
                        <li><a routerLink="/profesor-datos"> Profesor  </a></li>
                        <li><a routerLink="/asignatura-datos"> Asignatura </a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <main>
        <section id="formulario-asignatura">
            <div class="contenedor" id="contenedor-formulario-flex">
                <h3>Registro Asignatura</h3>
                <form [formGroup]="formDatos" enctype="multipart/form-data">
                    <input type="text"  formControlName="nombre" name="nombre" placeholder="🖉 Nombre">
                    <input type="text"  formControlName="materia" name="materia" placeholder="🖉 Materia">
                    <input type="text"  formControlName="horario" name="horario" placeholder="🕰 Horario">
                    <button (click)="post()">Guardar</button>
                </form>
            </div>
        </section>
    </main>
</body>