<body>
    <header>
        <div class="menu">
            <div class="contenedor">
                <p class="logo"> CRUD C/S </p>
                <nav>
                    <ul>
                        <li><a routerLink="/"> Inicio </a></li>
                        <li><a routerLink="/alumno-datos"> Alumno </a></li>
                        <li><a routerLink="/profesor-datos"> Profesor  </a></li>
                        <li><a routerLink="/asignatura-datos"> Asignatura </a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <main>
        <section id="formulario-profesor">
            <div class="contenedor" id="contenedor-formulario-flex">
                <h3>Registro Profesor</h3>
                <form [formGroup]="formDatos" enctype="multipart/form-data">
                    <input type="text" formControlName="nombre" name="nombre" placeholder="🖉 Nombre">
                    <input type="text" formControlName="apellidoP" name="apellidoP" placeholder="🖉 Apellido Paterno">
                    <input type="text" formControlName="apellidoM" name="apellidoM" placeholder="🖉 Apellido Materno">
                    <input type="text" formControlName="edad" name="edad" placeholder="🖉 Edad">
                    <input type="text" formControlName="direccion" name="direccion" placeholder="🏘 Direccion">
                    <input type="email" formControlName="email" name="email" placeholder="✉ Correo Electronico">
                    <input type="text" formControlName="genero" name="genero" placeholder="⚤ Genero">
                    <button (click)="post()">Guardar</button>
                </form>
            </div>
        </section>
    </main>
</body>